#announcement {
    display: none;
    background-color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

#navbar {
    background-color: black;
    color: white;
    padding: 30px;
    margin: -20px;
    font-family: Bitter;
    font-size: 20px;
    display: flex;
    align-items: center;
}

#banner {
    background-image: url(GlobalImages/BannerImage.png);
    background-position: center;
    background-size: auto;
    text-align: center;
    font-size: large;
    padding: 50px;
    margin: -20px;
    font-family: Bitter;
    font-size: 48px;
    color: white;
}

#standardContent {
    background-color: red;
    padding: 20px;
    margin: -20px;
    font-family: Bitter;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0px 20px;
    font-size: 1rem;
    justify-content: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.button-container {
    display: flex;
    justify-content: center;
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow:
        inset -2px -2px 3px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
