/* For the announcement banner */
#announcement {
    display: none;
    background-color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    position: fixed;
}

/* For the navigation menu */
#navbar {
    background-color: black;
    color: white;
    padding: 20px;
    margin: -20px;
    font-family: Bitter;
    font-size: 20px;
    display: flex;
    align-items: center;
}

/* For banners */
#banner {
    background-image: url(GlobalImages/REGBannerImage.png);
    background-position: center;
    background-size: auto;
    text-align: center;
    font-size: large;
    padding: 50px;
    margin: -20px;
    font-family: Bitter;
    font-size: 48px;
    color: white;
}

/* For most headers on pages */
#standardContent {
    background-color: red;
    padding: 20px;
    margin: -20px;
    font-family: Bitter;
}

/* For content that includes an image of some sort, use #regContent */
#regContent {
    background-color: red;
    padding: 20px;
    margin: -20px;
    font-family: Bitter;
    display: flex;
    color: black;
    font-size: large;
}

/* For Common Content*/
.container {
    background-color: red;
    width: 50px;
}

.carousel-item {
    background-color: red;
    width: 50px;
}

/* Styled Button */
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0px 20px;
    font-size: 1rem;
    justify-content: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.button-container {
    display: flex;
    justify-content: center;
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow:
        inset -2px -2px 3px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* Nagivation Design */
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
}

nav a:hover {
    color: yellow;
}

nav li {
    position: relative;
}

nav li ul {
    position: absolute;
    top: 0%;
    left: 100;
    visibility: hidden;
}

nav li:hover ul {
    visibility: visible;
}

nav li ul li {
    width: 200px;
    height: 40px;
    padding: 10px;
    margin-top: 5%;
    background: black;
    font-size: 18px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

nav li ul li:hover ul {
    visibility: visible;
}

nav li ul li:hover {
    visibility: visible;
}